body {
  background-image: linear-gradient(lightblue, pink, orange);
}

.sky {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.cloud {
  width: 30%;
  position: absolute;
  animation: cloudmotion 10s infinite;
  top:50px;
  left:-40%;
}

.c2 {
  animation: cloudmotion 20s 5s infinite;
  top: 30%;
}

@keyframes cloudmotion {
  0% {
    left:-40%;
  }
  100% {
    left:110vw;
  }
}

.ground {
  background-image: linear-gradient(rgb(52, 168, 45), rgb(0, 107, 20));
  position: fixed;
  bottom: 0;
  left: 0;
  height:200px;
  width:100vw;
}

.stem {
  background-color: rgb(3, 91, 1);
  position: fixed;
  bottom: 0;
  height:500px;
  width:20px;
  left:50%;
  transform:translateX(-50%);
}

.leaf {
  background-color: green;
  position:absolute;
  width:50%;
  height:30px;
  border-radius: 50%;
}

.flower{
  /* background-color: yellow; */
  width:200px;
  height:200px;
  left:-90px;
  top:-100px;
  position:absolute;
  /* transform:translateX(-50%); */
  border-radius: 50%;
  animation: spin 5s infinite linear;
}

@keyframes spin {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

.petal {
  /* background-color: orange; */
  background-image: linear-gradient(orange,rgb(255, 208, 6),orange);
  position:absolute;
  width:50%;
  height:30px;
  border-radius: 50%;
  transform-origin: right center;
  top: 40%;
}

.p1 {
  transform: rotate(45deg);
}

.p2 {
  transform: rotate(90deg);
}

.p3 {
  transform: rotate(-90deg);
}

.p4 {
  transform: rotate(-45deg);
}

.p5 {
  transform: rotate(135deg);
}

.p6 {
  transform: rotate(-135deg);
}

.p7 {
  transform: rotate(180deg);
}

.center {
  background-image: radial-gradient(rgb(255, 252, 177), rgb(255, 221, 40));
  border-radius: 50%;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
