body {
background-color: black;
margin: 0
}

a{
  color: lightblue;
}

p {
  color: white;
  background: olivedrab;
  border:6px solid lightpink;
  padding: 40px;
  padding-left: 10px;
  margin: 50px;
}

h1 {
  color: olivedrab;
  font-size: 90px;
  margin-top: 0;
}

h1 {
  color: white;
}


h2 {
  color: white;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

h5 {
  color: white;
}

h6 {
  color: white;
}

img  {
  max-width: 50%;
}

.special {
  background: rgb(100, 30, 90);
  font-size: 30px;
  color: white;
}
