* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

.desktop-box {
  color: white;
  background-color: purple;
  height:200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-box {
  color: white;
  background-color: green;
  height:200px;
  justify-content: center;
  align-items: center;
  display: none;
}

.checkers {
  display: flex;
}

.box {
  width: 100%;
  height: 100px;
}

.light {
  background-color: grey;
}

.dark {
  background-color: blue;
}

.object-below {
  background-color: green;
  height:200px;
  border-radius: 50%;
  transition: border-radius 1s;
}

@media screen and (max-width:900px) {
  /* TABLET? */
  .object-below {
    border-radius: 10px;
  }
}

@media screen and (max-width:600px) {
  /* PHONE */
  .checkers {
    flex-wrap: wrap;
  }

  .box {
    width:33.33%;
  }

  body {
    background-color: black;
  }

  .object-below {
    background-color: purple;
  }

  .light {
    background-color: blue;
  }

  .dark {
    background-color: grey;
  }

  .mobile-box {
    display:flex;
  }

  .desktop-box {
    display:none;
  }
}
